.exercise_navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #818DFC;
}




body {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

h3 {
    padding-top: 50px;
    text-align: center;
}

#hidden-div {
    display: none;
}

#countdown {
    background-color: #D7D6F6;
    width: 100px;
}

#video-container {
    align-self: center;
}

div > h4 {
    padding-left: 50px;
    font-size: 15px;
}

#button {
    align-self: center;
}

#timer > img{
    align-self: center;
    height: 20px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

/*different divs*/
#hipMid {
    display: none;
}

#hipHard {
    display: none;
}