body {
    background-image: url("https://images.unsplash.com/photo-1536804061269-1c7b4cff39bb?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center top;
}

.exercise-index-container {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 225px;
}

.painQuestion {
    align-self: center;
    color: #F2F2F2;
    font-style: italic;
    font-family: Montserrat;
    text-decoration: underline;
    background-color: #000000;
    border-radius: 12px;
    padding: 12px;
}


.choice-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 11em;
    padding: 10px;
}

.pain-form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #b8dee3;
    background-color: #000000;
    border-radius: 25px;
    padding: 12px;
}

input[type="radio"] {
    width: 2.15em;
    height: 2.15em;
}

.labelExercise {
    text-align: right;
    clear: both;
    font-size: 25px;
}

.nextButton {
    text-align: center;
    width: fit-content;
    padding: 10px 16px;
    border-radius: 12px;
    margin: 20px 15px;
    font-size: 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    background-color: #FFFFF2;
    color:  #555555;
    user-select: none;
}
    
.nextButton:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
    transform: translateY(-1px);
}



