.circle {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border-radius: 50%;
}
.humanBody {
    display: flex;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

#humanBodyFront {
    width: 200px;
    height: 500px;
}

#humanBodyBack {
    width: 200px;
    height: 500px;
}

#neckF {
    position: absolute;
    top: 50px;
    left: 96px;
    width: 116px;
}

#deltsF {
    position: absolute;
    top: 86px;
    left: 76px;
    width: 148px;
}

#hipF {
    position: absolute;
    top: 190px;
    left: 99px;
    width: 106px;
}

#kneesF {
    position: absolute;
    top: 302px;
    left: 104px;
    width: 97px;
}

#neckB {
    position: absolute;
    top: 52px;
    left: 270px;
    width: 162px;
}

#lowerBack {
    position: absolute;
    top: 143px;
    left: 296px;
    width: 113px;
}

#hipB {
    position: absolute;
    top: 200px;
    left: 291px;
    width: 120px;
}

#kneesB {
    position: absolute;
    top: 313px;
    left:306px;
    width: 96px;
}