body {
    margin: 0;
    background-color: #818DFC;
    font-family: 'Inter';
}

.main-header {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.desktop_navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar_li {
    display: inline;
    float: left;
}

.nav_text {
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    line-height: 50px;
    padding: 25px 35px;
    transition: 0.3s;
    font-weight: 100;
}

.nav_text:hover {
    color: #B9FFDB;
}

.current_nav_page {
    color: #85B79D;
}

.navbar_logo {
    float: right;
    width: 80px;
    height: auto;
    margin: auto;
    top: 5px;
    display: inline;
    position: relative;
    top: -15px;
    margin-right: 10px;
}

.navbar_title {
    left: 20px;
    position: relative;
}

.navbar_li_mid {
    display: flex;
    justify-content: space-around;
    margin-right: 140px;
}